.nav-Container{
    display:flex;
    flex-direction:row;
    list-style: none;
}
li{
    text-decoration:none;
}

a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding:10px;
    margin: 0 10px;
    font-weight: 600;
}
.navBar{
    background-color: white;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: flex-end;
    padding: 30px;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #c1c1c1;
}
@media(max-width:1000px){
    .navBar{
        font-size: 13px;
  }
  }
@media(max-width:890px){
    .navBar{
      flex-direction: column;
      height: 30vh;
      gap: 20px;
    font-size: 12px;
  }
  }